<div class="card text-center manager-add-container">
  <div class="card-header">
    <h4>Reset Password</h4>
  </div>
  <div class="card-body manage-add-body">

    <%= form_tag("/team_members/update", method: "get") do %>

        <b><%= label_tag(:psw, "New Password: ") %></b>
        <%= password_field_tag(:psw, nil, placeholder: 'Enter New Password') %>
        </br>

        </br>
        <b><%= label_tag(:con_psw, "Confirm Password: ") %></b>
        <%= password_field_tag(:con_psw, nil , placeholder: 'Confirm Password') %>
        </br>

        <input type = "hidden" name = "token" value = <%= @token %> >

        </br>
        <%= submit_tag("Reset Password", class: "login_button")  %>
    <% end %>

  </div>
  <div class="card-footer text-muted">

  </div>
</div>