<div class="card text-center manager-login-container">
  <div class="card-header">
    <h4>Manager login</h4>
  </div>
  <div class="card-body">
    <%= form_tag("/managers/validate", method: "get") do %>
        <b><%= label_tag(:uname, "Username:") %></b>
        <%= text_field_tag(:uname, nil, placeholder: 'Enter Username') %>
        </br>
        </br>
        <b><%= label_tag(:psw, "Password:") %></b>
        <%= password_field_tag(:psw, nil , placeholder: 'Enter password') %>
        </br>
        </br>
        <%= submit_tag("Login", class: "login_button", :onclick => "validate()")  %>
    <% end %>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>