<div class="card text-center manager-add-container">
  <div class="card-header">
    <h4>Team members</h4>
  </div>
  <div class="card-body manage-add-body">
    <table style = "width: 100%; ">
      <thead style = "line-height: 3em;">
        <tr style = "background-color: darkgray">
          <td>Name</td>
          <td>Email</td>
          <td>Suggested Place</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody style = "background-color: palegoldenrod">
        <% @team_members.each do |row| %>
          <tr style = "line-height: 2em;">
            <td align = 'center'><%= "#{row['name']}" %></td>
            <td align = 'center'><%= "#{row['email']}" %></td>
            <%= form_tag("/team_members/finalize", method: "get") do %>
            <td align = 'center'>
              <% if row.places.length > 0 %>
                <% row.places.each do |place| %>
                  <label class="radio-inline">
                    <input type="radio" name="optradio" value=<%="#{place.name}&id=#{place.id}&tid=#{row['id']}"%>>  <%="#{place.name}"%>
                  </label>
                  <br />
                <% end %>
              <% else %>
                Places Not Suggested
              <%end%>
            </td>
              <td align = 'center'>
                <%= submit_tag("Finalize", class: "login_button") %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>